.register-container {
  height: 77vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}

.register-container form {
  display: flex;
  flex-direction: column;
}
